@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/common/footer/footer.style.css';
@import '../components/common/footer/footer-menu/footer-menu.style.css';
@import '../components/common/tab/tab.style.css';
@import '../components/common/tab/tabBody/tabBody.style.css';
@import '../components/common/tab/tabContent/tabContent.style.css';
@import '../components/common/tab/tabHeader/tabHeader.style.css';
@import '../components/common/tab/tabItem/tabItem.style.css';
@import '../components/common/table/table.style.css';
@import '../components/common/table/tableBody/tableBody.style.css';
@import '../components/common/table/tableData/tableData.style.css';
@import '../components/common/table/tableHeader/tableHeader.style.css';
@import '../components/common/table/tableHeading/tableHeading.style.css';
@import '../components/common/table/tableRow/tableRow.style.css';
@import '../components/common/table/tableDataWrapper/tableDataWrapper.style.css';
@import '../components/common/list/list.style.css';
@import '../components/common/list/listItem/listItem.style.css';
@import '../components/common/list/listLink/listLink.style.css';
@import '../components/common/list/listText/listText.style.css';
@import '../components/common/button/button.style.css';
@import '../components/common/spinner/spinner.style.css';

@import '../components/common/list/listExternalLink/listExternalLink.style.css';

@import '../components/common/form/checkbox/checkbox.style.css';
@import '../components/common/form/formGroup/fromGroup.style.css';
/* @import '../components/common/form/formValidation/formValidation.style.css'; */
@import '../components/common/form/label/label.style.css';
/* @import '../components/common/form/otpInput/otpInput.style.css'; */
@import '../components/common/form/textInput/textInput.style.css';
@import '../components/common/form/numberInput/numberInput.style.css';
@import '../components/common/form/formCheck/formCheck.style.css';
@import '../components/common/form/inputIcon/inputIcon.style.css';
@import '../components/common/form/textForm/textForm.style.css';
@import '../components/common/form/radio/radio.style.css';
@import '../components/common/form/radioCard/radioCard.style.css';
@import '../components/common/card/card.style.css';
@import '../components/common/card/card-header/card-header.style.css';
@import '../components/common/card/card-title/card-title.style.css';
@import '../components/common/card/card-body/card-body.style.css';
@import '../components/common/quickAccess/quickAccess.style.css';
@import '../components/common/container/container.style.css';
@import '../components/common/menu-sticky/menu-sticky.style.css';
@import '../components/common/modal/modal.style.css';
@import url('mine/mine.css');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'react-toastify/dist/ReactToastify.css';

::root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  @apply text-primary bg-primary/10;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(15, 20, 26, 1);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet {
  background-color: #d9d9d9;
  /* transition: all ease-in 300ms; */
  /* height: 6px; */
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  /* width: 15px; */
  /* border-radius: 10px; */
}

.text-link::before {
  @apply absolute bottom-0 block w-full h-[1px] bg-white;
  content: '';
}
.text-link:hover {
  @apply text-primary;
}
.text-link:hover::before {
  @apply bg-primary;
}
